In [3]:
import pandas as pd 
import streamlit as st 
import plotly.express as pt 
import math as mt
from math import factorial
#from scipy import stats as st
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv('../games.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [5]:
df.columns = df.columns.str.lower()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

In [8]:
df.sample(20)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
12372,The King of Route 66,PS2,2003.0,Racing,0.03,0.02,0.00,0.01,57.0,tbd,T
7295,Dark Summit,PS2,2001.0,Sports,0.11,0.08,0.00,0.03,67.0,tbd,T
96,Super Smash Bros. for Wii U and 3DS,3DS,2014.0,Fighting,3.27,1.37,2.43,0.48,NaN,NaN,NaN
5745,Panzer Dragoon II Zwei,SAT,1995.0,Shooter,0.00,0.00,0.31,0.00,NaN,NaN,NaN
13098,Pawly Pets: My Vet Practice,DS,2007.0,Strategy,0.00,0.05,0.00,0.00,NaN,NaN,NaN
9236,Pro Yakyuu Netsu Star 2006,PS2,2006.0,Sports,0.00,0.00,0.14,0.00,NaN,NaN,NaN
4453,SingStar Motown,PS2,2009.0,Misc,0.00,0.06,0.00,0.38,NaN,NaN,NaN
14696,Roadsters,PS,2000.0,Racing,0.02,0.01,0.00,0.00,NaN,tbd,NaN
5573,The Black Eyed Peas Experience,X360,2011.0,Misc,0.20,0.10,0.00,0.03,66.0,5.8,T
13889,Empire Earth III,PC,2007.0,Strategy,0.00,0.03,0.00,0.01,50.0,2.8,T
2166,Epic Mickey 2: The Power of Two,Wii,2012.0,Action,0.67,0.21,0.00,0.07,NaN,NaN,NaN
4612,Mega Man Anniversary Collection,GC,2004.0,Platform,0.32,0.08,0.00,0.01,81.0,8.8,E
12476,Earth Defense Force 4.1: The Shadow of New Des...,PS4,2015.0,Shooter,0.03,0.02,0.00,0.01,64.0,7.9,M
14649,NBA 08,PSP,2007.0,Sports,0.03,0.00,0.00,0.00,75.0,7.5,E
10075,Mystery P.I. - Portrait of a Thief,DS,2008.0,Adventure,0.10,0.00,0.00,0.01,NaN,tbd,E
12386,Land of the Dead: Road to Fiddler's Green,XB,2005.0,Shooter,0.05,0.01,0.00,0.00,32.0,5.8,M
9875,Kidz Sports: Crazy Golf,Wii,2008.0,Sports,0.11,0.00,0.00,0.01,NaN,3.4,E
5126,Imagine: Salon Stylist,DS,2009.0,Simulation,0.23,0.10,0.00,0.03,NaN,tbd,E
1250,Monopoly,PS,1997.0,Misc,1.18,0.27,0.00,0.05,NaN,NaN,NaN
227,Tony Hawk's Pro Skater 2,PS,2000.0,Sports,3.05,1.41,0.02,0.20,98.0,7.7,T

Podemos ver aqui 11 columnas, de las cuales algunas tienen datos vacios, y tipos de datos no muy adecuados para lo que son, lo cual
procedere a modificar.

In [35]:
#users['reg_date'] = pd.to_datetime(users['reg_date'], format='%Y/%m/%d')

# convierto a formato de año
df['year_of_release'] = pd.to_datetime(df['year_of_release'], format='%Y/%m/%d')
df[df['name']== 'Ferrari: The Race Experience']

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
16080,Ferrari: The Race Experience,Wii,NaT,Racing,0.0,0.01,0.0,0.0,54.0,NaN,E

Optaré por dejar los valores faltantes en la columna year_of_release tal como están, ya que podrían corresponder a datos incompletos. Imputarlos con 0 podría generar confusión para otros científicos de datos o analistas, al interpretarse como un valor válido en lugar de un dato ausente.

In [39]:
df.sample(20)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
5497,Disgaea 2: Cursed Memories,PS2,2006-01-01,Role-Playing,0.09,0.07,0.15,0.02,84.0,6.4,T
8829,We Sing UK Hits,Wii,2011-01-01,Misc,0.00,0.13,0.00,0.02,NaN,tbd,T
11423,The Spiderwick Chronicles,DS,2008-01-01,Action,0.07,0.00,0.00,0.01,60.0,tbd,E10+
3826,The Golden Compass,PS2,2007-01-01,Action,0.13,0.00,0.00,0.39,46.0,5.2,E10+
3412,Kane & Lynch 2: Dog Days,PS3,2010-01-01,Shooter,0.17,0.27,0.05,0.10,NaN,NaN,NaN
6371,Reign of Fire,PS2,2002-01-01,Shooter,0.13,0.10,0.00,0.03,56.0,7,M
9822,NFL QB Club 2001,N64,2000-01-01,Sports,0.11,0.01,0.00,0.00,NaN,NaN,NaN
14825,The Battle of Yuu Yuu Hakusho: Shitou! Ankoku ...,PS2,2007-01-01,Fighting,0.00,0.00,0.03,0.00,NaN,NaN,NaN
6739,Major League Baseball 2K7,PS3,2007-01-01,Sports,0.23,0.00,0.00,0.02,74.0,4.7,E
11408,Martian Panic,Wii,2010-01-01,Adventure,0.08,0.00,0.00,0.00,NaN,tbd,T
12095,Crazy Taxi 2,DC,2001-01-01,Racing,0.00,0.00,0.07,0.00,82.0,8.1,T
3876,LEGO Marvel Super Heroes,PSV,2013-01-01,Action,0.11,0.29,0.00,0.11,NaN,NaN,NaN
8930,Crash: Twinsanity,XB,2004-01-01,Platform,0.11,0.03,0.00,0.01,66.0,8.7,E
3782,Excite Truck,Wii,2006-01-01,Racing,0.39,0.03,0.08,0.04,72.0,8.4,E
46,Pokemon HeartGold/Pokemon SoulSilver,DS,2009-01-01,Action,4.34,2.71,3.96,0.76,NaN,NaN,NaN
1571,EA Sports Active 2,Wii,2010-01-01,Sports,0.76,0.39,0.00,0.11,79.0,8.1,E
7396,WinBack: Covert Operations,N64,1999-01-01,Shooter,0.17,0.04,0.00,0.00,NaN,NaN,NaN
11418,Ken to Mahou to Gakuen Mono. 2,PSP,2009-01-01,Role-Playing,0.00,0.00,0.08,0.00,NaN,NaN,NaN
15853,Discworld II: Mortality Bytes!,PS,1996-01-01,Adventure,0.01,0.01,0.00,0.00,NaN,NaN,NaN
1268,Medal of Honor: Frontline,XB,2002-01-01,Shooter,1.00,0.43,0.00,0.06,81.0,6.9,T

Procederé a imputar los valores NaN en la columna user_score con un espacio en blanco, dado que la mayoría de los registros correspondientes a 2016 carecen de datos en esta columna. Aunque existen algunos valores faltantes en otras fechas, considero que representan una proporción mínima en comparación con el total de datos del conjunto, por lo que esta imputación no debería afectar significativamente el análisis.

In [43]:
df['user_score']= df['user_score'].fillna(' ')
df['user_score'].sample(20)
df.describe()

,year_of_release,na_sales,eu_sales,jp_sales,other_sales,critic_score
count,16446,16715.000000,16715.000000,16715.000000,16715.000000,8137.000000
mean,2006-06-26 21:00:30.207953280,0.263377,0.145060,0.077617,0.047342,68.967679
min,1980-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,13.000000
25%,2003-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,60.000000
50%,2007-01-01 00:00:00,0.080000,0.020000,0.000000,0.010000,71.000000
75%,2010-01-01 00:00:00,0.240000,0.110000,0.040000,0.030000,79.000000
max,2016-01-01 00:00:00,41.360000,28.960000,10.220000,10.570000,98.000000
std,NaN,0.813604,0.503339,0.308853,0.186731,13.938165

In [46]:
df[df['critic_score'].isna()].sample(20)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
9579,Zapper: One Wicked Cricket!,GC,2002-01-01,Platform,0.10,0.03,0.00,0.00,NaN,,NaN
5848,Blazing Heroes,SAT,1995-01-01,Role-Playing,0.00,0.00,0.30,0.00,NaN,,NaN
5801,Ganbare Goemon 2: Kiteretsu Shougun Magginesu,SNES,1993-01-01,Platform,0.00,0.00,0.31,0.00,NaN,,NaN
7525,The Bible Game,PS2,2005-01-01,Misc,0.10,0.08,0.00,0.03,NaN,5.4,E
13580,Doko Demo Issho: Let's Gakkou!,PSP,2006-01-01,Misc,0.00,0.00,0.04,0.00,NaN,,NaN
5420,Dead or Alive 5,PS4,2015-01-01,Fighting,0.09,0.13,0.08,0.04,NaN,,NaN
16541,G1 Jockey 4 2007,PS2,2007-01-01,Sports,0.00,0.00,0.01,0.00,NaN,,NaN
3145,Tom Clancy's Rainbow Six,N64,1999-01-01,Shooter,0.48,0.15,0.00,0.01,NaN,,NaN
11531,Akiba's Trip Plus,PSP,2012-01-01,Adventure,0.00,0.00,0.08,0.00,NaN,,NaN
10162,Family Game Night 4: The Game Show,PS3,2011-01-01,Misc,0.08,0.02,0.00,0.01,NaN,tbd,E
16165,Diary Girl,DS,2008-01-01,Misc,0.01,0.00,0.00,0.00,NaN,tbd,E
888,Jet Moto 2,PS,1997-01-01,Racing,1.41,0.42,0.03,0.07,NaN,,NaN
12710,Aquarium by DS,DS,2008-01-01,Simulation,0.05,0.00,0.00,0.00,NaN,tbd,NaN
15809,Ultraman Star Chronicles,PSP,2013-01-01,Strategy,0.00,0.00,0.02,0.00,NaN,,NaN
11084,"Saiyuuki: Kinkaku, Ginkaku no Inbou",DS,2007-01-01,Role-Playing,0.00,0.00,0.09,0.00,NaN,,NaN
1575,Brian Lara Cricket,PS,1998-01-01,Sports,0.02,1.13,0.01,0.10,NaN,,NaN
16296,Hakuoki: Reimeiroku DS,DS,2012-01-01,Action,0.00,0.00,0.01,0.00,NaN,,NaN
978,The Legend of Zelda: The Wind Waker,WiiU,2013-01-01,Action,0.92,0.60,0.14,0.14,NaN,,NaN
7566,7th Dragon 2020,PSP,2011-01-01,Role-Playing,0.00,0.00,0.20,0.00,NaN,,NaN
12234,Dark Souls,PC,2012-01-01,Role-Playing,0.00,0.06,0.00,0.01,NaN,,NaN

Dado que gran parte de datos en la columna critic_score son nan, voy a dividir por categorias para sacar la mediana y asi poder llenar los
datos vacios sin que haya ningun problema en un futuro.

In [58]:
df['action_genre_filling'] = df.groupby('genre')['critic_score'].transform(lambda x: x.median())
df['critic_score'] = df['critic_score'].fillna(df['action_genre_filling'])
df.drop('action_genre_filling', axis=1)
df.info()
df[df['platform']=='GEN']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  16713 non-null  object
 1   platform              16715 non-null  object
 2   year_of_release       16446 non-null  datetime64[ns]
 3   genre                 16713 non-null  object
 4   na_sales              16715 non-null  float64
 5   eu_sales              16715 non-null  float64
 6   jp_sales              16715 non-null  float64
 7   other_sales           16715 non-null  float64
 8   critic_score          16713 non-null  float64
 9   user_score            16715 non-null  object
 10  rating                9949 non-null   object
 11  action_genre_filling  16713 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(5)
memory usage: 1.5+ MB

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating,action_genre_filling
145,Sonic the Hedgehog 2,GEN,1992-01-01,Platform,4.47,1.20,0.16,0.19,69.0,,NaN,69.0
257,Sonic the Hedgehog,GEN,1991-01-01,Platform,3.03,0.91,0.26,0.13,69.0,,NaN,69.0
564,Mortal Kombat,GEN,1992-01-01,Fighting,1.95,0.63,0.00,0.09,72.0,,NaN,72.0
588,Streets of Rage,GEN,1990-01-01,Action,1.86,0.55,0.11,0.08,68.0,,NaN,68.0
659,NaN,GEN,1993-01-01,NaN,1.78,0.53,0.00,0.08,NaN,,NaN,NaN
832,NBA Jam,GEN,1992-01-01,Sports,1.75,0.25,0.00,0.05,75.0,,NaN,75.0
960,Sonic & Knuckles,GEN,1994-01-01,Platform,1.24,0.43,0.03,0.12,69.0,,NaN,69.0
996,Sonic the Hedgehog 3,GEN,1994-01-01,Platform,1.02,0.47,0.20,0.07,69.0,,NaN,69.0
1099,Street Fighter II': Special Champion Edition,GEN,1992-01-01,Fighting,1.00,0.30,0.31,0.04,72.0,,NaN,72.0
1365,Disney's The Lion King,GEN,1994-01-01,Platform,0.97,0.37,0.03,0.05,69.0,,NaN,69.0
1453,Mortal Kombat 3,GEN,1994-01-01,Fighting,1.03,0.27,0.00,0.04,72.0,,NaN,72.0
1842,NBA Jam Tournament Edition,GEN,1994-01-01,Sports,0.95,0.14,0.00,0.03,75.0,,NaN,75.0
6451,Virtua Racing,GEN,1994-01-01,Racing,0.00,0.00,0.26,0.00,69.0,,NaN,69.0
7885,Shining Force II,GEN,1993-01-01,Strategy,0.00,0.00,0.19,0.00,73.0,,NaN,73.0
8893,Super Street Fighter II,GEN,1993-01-01,Fighting,0.00,0.00,0.15,0.00,72.0,,NaN,72.0
9000,"Lunar 2: Eternal Blue(sales, but wrong system)",GEN,1994-01-01,Role-Playing,0.00,0.00,0.14,0.00,74.0,,NaN,74.0
9563,Gunstar Heroes,GEN,1992-01-01,Shooter,0.00,0.00,0.13,0.00,73.0,,NaN,73.0
9787,Ecco the Dolphin,GEN,1992-01-01,Adventure,0.00,0.00,0.12,0.00,66.0,,NaN,66.0
11563,Yuu Yuu Hakusho: Makyo Toitsusen,GEN,1994-01-01,Fighting,0.00,0.00,0.08,0.00,72.0,,NaN,72.0
11660,Dragon Slayer: The Legend of Heroes,GEN,1994-01-01,Role-Playing,0.00,0.00,0.08,0.00,74.0,,NaN,74.0
11986,Ecco: The Tides of Time,GEN,1993-01-01,Adventure,0.00,0.00,0.07,0.00,66.0,,NaN,66.0
12098,Street Fighter II': Special Champion Edition (...,GEN,1993-01-01,Action,0.00,0.00,0.07,0.00,68.0,,NaN,68.0
12264,Streets of Rage 3,GEN,1993-01-01,Action,0.00,0.00,0.07,0.00,68.0,,NaN,68.0
12984,Dynamite Headdy,GEN,1993-01-01,Platform,0.00,0.00,0.05,0.00,69.0,,NaN,69.0
13343,Beyond Oasis,GEN,1993-01-01,Role-Playing,0.00,0.00,0.05,0.00,74.0,,NaN,74.0
14085,J-League Pro Striker 2,GEN,1994-01-01,Sports,0.00,0.00,0.04,0.00,75.0,,NaN,75.0
14132,Castlevania Bloodlines,GEN,1994-01-01,Platform,0.00,0.00,0.04,0.00,69.0,,NaN,69.0
14244,NaN,GEN,1993-01-01,NaN,0.00,0.00,0.03,0.00,NaN,,NaN,NaN
14488,Puzzle & Action: Tant-R,GEN,1994-01-01,Misc,0.00,0.00,0.03,0.00,69.0,,NaN,69.0

Check empty rows!